<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Railway_reservation"
        tools:targetApi="31">
        <activity
            android:name=".homescreen_navigationdrawer_aboutus"
            android:exported="false" />
        <activity
            android:name=".TicketBooked"
            android:exported="false" />
        <activity
            android:name=".PassengerAdding"
            android:exported="false" />
        <activity
            android:name=".searchedtrainlist_screen"
            android:exported="true" />
        <activity
            android:name=".booksearchtrain_screen"
            android:exported="false" />
        <activity
            android:name=".home_screen_bookticket"
            android:exported="false" />
        <activity
            android:name=".home_screen"
            android:exported="true" />
        <activity
            android:name=".register_screen"
            android:exported="false" />
        <activity
            android:name=".login_screen"
            android:exported="false" />
        <activity
            android:name=".onboarding_screen"
            android:exported="false" />
        <activity
            android:name=".splashscreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>